body{max-width: 1440px;width: 100%;margin: auto;}
.mg70{margin: 7rem 0}
.pd70{padding: 7rem 0}
.mod_visual{width: 100%;height: 700px;padding: 60px 0;background: url(../images/2268137001_visual.png) no-repeat;background-size: cover;}
.mod_visual img{display: block;margin:0 0 5rem auto}
.mod_visual .comName{color: #003b90;font-size: 6.5rem;font-weight: bold;}
.mod_visual .title{font-size: 2.6rem;color: #fff}
.sns_mod_info{background: url(../images/2268137001_info.png) no-repeat !important;background-size: cover !important}
.sns_mod_info li{color: #003b90 !important}
.mod_history04 .history_wrap{margin-top: 5rem;}
.mod_history04 .history_wrap .thumb span{left: 0;transform: none;background: #003b90;letter-spacing: 1;font-size: 1.8rem}
.mod_history04 .history > div > span::before{background: #003b90}
.mod_history04 .history > div > ul > li .month{color: #cccccc}