
body{width: 100%;margin: auto;}
.mg70{margin: 7rem 0}
.pd70{padding: 7rem 0}
.mod_visual{width: 100%;height: 700px;padding: 60px 0;background: url(images/2268137001_visual.png) no-repeat;background-size: cover;}
.mod_visual img{display: block;margin:0 0 5rem auto}
.mod_visual .comName{color: #003b90;font-size: 6.5rem;font-weight: bold;}
.mod_visual .title{font-size: 2.6rem;color: #fff}
.sns_mod_info{background: url(images/2268137001_info.png) no-repeat !important;background-size: cover !important}
.mod_culture05 .culture_wrap{background: none}
.sns_mod_info li{color: #003b90 !important}
.mod_history04 .history_wrap{margin-top: 5rem;}
.mod_history04 .history_wrap .thumb span{left: 0;transform: none;background: #003b90;letter-spacing: 1;font-size: 1.8rem}
.mod_history04 .history > div > span::before{background: #003b90}
.mod_history04 .history > div > ul > li{margin-top: 5px}
.mod_history04 .history > div > ul > li .month{color: #cccccc;width: 20px;}
.mod_info02 > div:nth-child(even){background: #fff;padding: 7rem 0}
.mod_info02 > div:nth-child(1) img, 
.mod_info02 > div:nth-child(5) img{object-fit: cover;height: 100%}
.mod_info02 > div hr{display: none}
.mod_info02 > div .tit{margin-bottom: 2rem}
.mod_info02 > div .num{color: #003b90}
.mod_info02 > div:nth-child(3){background: #003b90}
.mod_talent01{background: #f4f4f4;padding: 8rem 0}
.mod_strategic01 .task_wrap{display: flex;justify-content: space-between;margin-bottom: 10rem}
.mod_strategic01 .task_wrap .item{width: calc(50% - 15px);padding: 4rem 3rem;box-sizing: border-box;}
.mod_strategic01 .task_wrap .item:nth-child(1){background: #fff;}
.mod_strategic01 .task_wrap .item:nth-child(2){background: #f4f4f4}
.mod_strategic01 .task_wrap h3{font-size: 3.2rem;font-weight: bold;margin-bottom: 2rem}
.mod_strategic01 .task_wrap .list span{display: block;}
.mod_strategic01 .task_wrap .list {padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #e0e0e0;}
.mod_strategic01 .task_wrap .slick-slide:nth-child(3n) .list{border-bottom: 0}
.mod_strategic01 .task_wrap .list .tit{font-size: 2rem;font-weight: 500;margin-bottom: 1rem}
.mod_strategic01 .task_wrap .list .desc{color: #666666;}
.mod_strategic01 .slick-slide{height: auto}
.mod_strategic01 .slick-dots{position: absolute;left: 50%;transform: translateX(-50%);text-align: center}
.mod_strategic01 .slick-dots li{display: inline-block;margin: 0 10px;}
.mod_strategic01 .slick-dots li button{width: 15px;height: 15px;background: #f4f4f4;border-radius: 50%;text-indent: -9999px;}
.mod_strategic01 .slick-dots li.slick-active button{background: #003b90}
.mod_finance03 {padding: 0}
.mod_finance03 > div{padding: 0;background: #fff;}
.mod_finance03 h3 span{color: #cccccc}
.mod_finance03 > div .tab_wrap{box-shadow:none;border: 1px solid #cccccc;}
.mod_finance03 > div .tab_wrap .tab > div.on{background: #003b90;font-weight: 500}
.mod_finance03 > div .tab_wrap .tab > div + div,
.mod_finance03 > div .tab_wrap .tab{border-color: #003b90 !important;color: #999999}
.mod_percent01{padding: 0}
.mod_percent01 .percent_wrap > div{display: flex;flex-direction: column-reverse;}
.mod_percent01 .percent_wrap > div > div{font-size: 2.4rem;font-weight: bold}
.mod_percent01 .percent_wrap > div > div span{color: #000;font-size: 4.2rem;padding: 0}
.mod_percent01 .percent_wrap > div > div span strong{font-size: 1.8rem;font-weight: 400;margin-right: 1rem}
.mod_percent01 .percent_wrap > div > div span em{font-size: 2.4rem;font-weight: bold;}
.mod_percent01 .percent_wrap .ico{margin: 1rem auto 0 auto;width: 100% !important;height: 111px !important}
.mod_percent01 .percent_wrap .scale .ico{background: url(images/2268137001_fin01.png) no-repeat center;}
.mod_percent01 .percent_wrap .growth .ico{background: url(images/2268137001_fin02.png) no-repeat center;}
.mod_percent01 .percent_wrap .profit .ico{background: url(images/2268137001_fin03.png) no-repeat center;}
.mod_percent01 .percent_wrap .stable .ico{background: url(images/2268137001_fin04.png) no-repeat center;}
.mod_business_area01{background: #003b90;}
.mod_business_area01 .container{background: #0a397d}
.mod_business_area01 .sw_btn_wrap .prevv_arrow{left:0;background-position:0 0;}
.mod_business_area01 .sw_btn_wrap .nextt_arrow{right:0;background-position:-70px 0;}
.mod_culture05{padding: 0;position: relative;}
.mod_culture05 h3 span{color: #cccccc;}
.mod_culture05 .culwel_wrap.first{background: url(images/2268137001_culture.png) no-repeat;background-size:cover}
.mod_culture05 .culwel_wrap{background: url(images/2268137001_welfare.png) no-repeat;background-size:cover}
.mod_culture05 .container .slick-dots{top: auto;bottom: 20px;}
.mod_culture05 .culwel_wrap > div{height: 100%;padding: 50px 50px 80px 50px;}
.mod_culture05 .slick-slider{height: calc(100% - 30px)}
.mod_culture05 .slick-slider{height: 100%;}
.mod_culture05 .sww_btn_wrap .slick-arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    border:none;
    font-size:0;
    width:70px;
    height:100px;
    background-color:rgba(0,0,0,.5);
    background-image:url(images/slider_arrow2.png);
    background-repeat:no-repeat;
    opacity:.7;
    z-index:1;
}
.mod_culture05 .sww_btn_wrap .slick-disabled{opacity:.1;}
.mod_culture05 .sww_btn_wrap .prev_arrow{left:0;background-position:0 0;}
.mod_culture05 .sww_btn_wrap .next_arrow{right:0;background-position:-70px 0;}
.mod_culture05 .cul_slide {max-width: 1200px;margin: auto;}
.mod_culture05 .container{max-width: 1440px;width: calc(100% - 40px);margin: auto;position: relative;}
.mod_interview06 .interview_txt strong{color: #003b90}
.mod_interview06 .interview_txt h3{font-weight: bold;}
.mod_interview06 .q.active{background: #003b90;border-color: #003b90}
.mod_interview06 .slick-track{display: flex;}
.mod_interview06 .bg{margin-top: -150px}
.mod_interview06 .q{position: relative;z-index: 5}
.mod_interview06 .qa_mng .q.active,
.mod_interview06 .qa_emp .q.active{background: #527f9e;}
.mod_interview06 .interview_txt strong{color: #527f9e}
.mod_media .slick-arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    border:none;
    font-size:0;
    width:70px;
    height:100px;
    background-color:rgba(0,0,0,.5);
    background-image:url(images/slider_arrow2.png);
    background-repeat:no-repeat;
    opacity:.7;
    z-index:1;
}
.mod_media{position: relative;}
.mod_media .slick-disabled{opacity:.1;}
.mod_media .slick-prev{left:0;background-position:0 0;}
.mod_media .slick-next{right:0;background-position:-70px 0;}
.mod_media .slick-list,
.mod_media .slick-slider,
.mod_media .slick-track,
.mod_media .container{position: static;}
.mod_media .slick-slide{height: auto;}

.sns_mod_info.sty01 {background: #333;padding: 10rem 0}
.sns_mod_info.sty01 .info_wrap{display: flex;}
.sns_mod_info.sty01 .info_wrap > li{width: calc(25% - 22.5px);margin-right: 30px;text-align: center;font-size: 2rem;color: #5a6af4}
.sns_mod_info.sty01 .info_wrap > li > div{font-size: 1.8rem;color: #fff;}
.sns_mod_info.sty01 .ico{margin: 0 auto 2.0rem auto;}
.sns_mod_info.sty01 ul li:last-child{margin-right: 0}
.sns_mod_info.sty01 ul li:nth-child(1) .ico{background: url(images/ico_finance01.png) no-repeat center;width: 111px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(2) .ico{background: url(images/ico_finance02.png) no-repeat center;width: 109px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(3) .ico{background: url(images/ico_finance03.png) no-repeat center;width: 111px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(4) .ico{background: url(images/ico_finance04.png) no-repeat center;width: 99px;height: 101px;}

.mod_interview06 .prev_arrow{background: url(images/2268137001_itv_prev.png) no-repeat center #666;}
.mod_interview06 .next_arrow {background: url(images/2268137001_itv_next.png) no-repeat center #666}


@media all and (max-width:1200px){
    .mod_visual .container,
    .mod_strategic01 .container{width: calc(100% - 40px)}
    .mod_percent01 .container{padding: 0}
    
    .mod_interview06 .interview_txt h3{max-width: calc(100% - 60px)}
    
    .mod_culture05 .container .slick-dots{bottom: -50px}
}

@media all and (max-width:1024px){
    .mod_history04 .history_wrap .thumb{width: 300px}
    .mod_history04 .history_wrap .history{width: calc(100% - 300px)}
    .mod_percent01 .container{padding: 0}
    
    .mod_history04 .history_wrap{width: 100%}
    }

@media all and (max-width:768px){
    html{font-size: 8px}
    .mod_visual {height: 250px;padding: 3rem 0}
    .mod_visual img{max-width: 130px;margin: 0 0 2rem auto;}
    .mod_visual .title{font-size: 2rem;}
    .mod_visual .comName{font-size: 3rem;}
    
    .sns_mod_info.sty01{padding: 5rem 0}
    .sns_mod_info.sty01 .info_wrap{flex-wrap: wrap;}
    .sns_mod_info.sty01 .info_wrap > li{width: calc(50% - 10px);margin-right: 20px}
    .sns_mod_info.sty01 .info_wrap > li:nth-child(2n){margin-right: 0}
    .sns_mod_info.sty01 .info_wrap > li:nth-child(-n + 2){margin-bottom: 20px}
    .sns_mod_info.sty01 .info_wrap > li > div.ico{background-size: 50px !important;height: 50px;}
    
    .mod_history04 .history_wrap .thumb{height: 70px}
    .mod_history04 .history_wrap .thumb span{top: 0}
    
    .mod_strategic01 .task_wrap{display: block;margin-bottom: 15rem}
    .mod_strategic01 .task_wrap .item{width: 100%;}
    .mod_strategic01 .task_wrap .item + .item{margin-top: 7rem;margin-right: 0;}
    .mod_strategic01 .task_wrap .item .slick-dots{bottom: -50px}
    .mod_strategic01 .task_wrap .item + .item .slick-dots{bottom: -80px}
    .mod_finance03 > div .tab_wrap .tab{border-color: #003b90 !important}
    .mod_finance03 > div .tab_wrap .tab > div{border-color: #003b90 }
    .mod_finance03 > div .tab_wrap{overflow: hidden}
    
    .mod_percent01 .percent_wrap .ico{background-size: 70px !important;height: 70px !important}
    
    .mod_interview06 .bg{margin-top: -100px}
    .mod_info02 > div:nth-child(1), .mod_info02 > div:nth-child(5){height: 150px}
    
    
}

@media all and (max-width:640px){
    .mod_percent01 .percent_wrap > div:nth-child(-n + 2){margin-bottom: 20px}
    
}

@media all and (max-width:480px){
    .mod_history04 .history_wrap .thumb, .mod_history04 .history_wrap .history{width: 100%}
    
}