html{font-size: 10px}
body{width: 100%;margin: auto;font-size: 1.6rem}

.mod_visual{background: url(../images/2248138829_visual.png) no-repeat center;padding: 40px 0;height: 700px;background-size: cover}
.mg70{margin: 7rem 0}
.pd70{padding: 7rem 0}
.mod_visual .txt{margin-top: 160px;text-align:center;width: 100%;}
.mod_visual .txt .title{font-size: 3rem;color: #fff;margin-bottom: 1.5rem;}
.mod_visual .txt .comName{color: #fff;font-size: 6.5rem;font-weight: bold;}

.sns_mod_info.sty01{background: url(../images/2248138829_info.png) no-repeat;background-size: cover;}
.sns_mod_info.sty01 .info_wrap > li{color: #516a0c}

.mod_history02 .history .slick-slide > span::before{background: #516a0c}
.mod_history02 .history .slick-slide > span{border-top-color: #516a0c}
.mod_history02 .history .slick-slide > ul li .month{color: #cccccc}
.mod_history02 .history .slick-slide > span{font-size: 3rem;font-weight: 500}
.mod_history02 .slick-slide{height: auto;}

.sns_mod_info{background: url(../images/2218133427_info.png) no-repeat !important;background-size: cover !important;}
.sns_mod_info.sty01 {background: #333;padding: 10rem 0}
.sns_mod_info.sty01 .info_wrap{display: flex;}
.sns_mod_info.sty01 .info_wrap > li{width: calc(25% - 22.5px);margin-right: 30px;text-align: center;font-size: 2rem;color: #516a0c}
.sns_mod_info.sty01 .info_wrap > li > div{font-size: 1.8rem;color: #fff;}
.sns_mod_info.sty01 .ico{margin: 0 auto 2.0rem auto;}
.sns_mod_info.sty01 ul li:last-child{margin-right: 0}
.sns_mod_info.sty01 ul li:nth-child(1) .ico{background: url(../images/ico_finance01.png) no-repeat center;width: 111px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(2) .ico{background: url(../images/ico_finance02.png) no-repeat center;width: 109px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(3) .ico{background: url(../images/ico_finance03.png) no-repeat center;width: 111px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(4) .ico{background: url(../images/ico_finance04.png) no-repeat center;width: 99px;height: 101px;}
.mod_info01{background: url(../images/2248138829_vission.png) no-repeat !important;background-size: cover !important}
.mod_info01 > div{background: none;}
.mod_info01 > div .num{color: #516a0c;line-height: 1;font-weight: 500}

.mod_talent02 .title_area h2:before {width: 3px;height: 80%;content: "";display: block;position: absolute;left: 0;top: 50%;transform: translateY(-50%);background: #333;}
.mod_talent02 .title_area h2 {padding: 0 0 0 30px;font-size: 4rem;font-weight: 800;text-transform: uppercase;position: relative;}
.mod_talent02 .title_area span{font-size: 3rem;font-weight: bold;margin-bottom: 5px;display: inline-block;margin-left: 3rem}
.mod_talent02 .tit_bt{padding: 0 0 0 30px;font-size: 2rem;color: #666666;margin-top: 2rem}
.mod_talent02 .talent_area{margin-top: 8rem;position: relative;}
.mod_talent02 .talent_area .slick-slide{height: auto;}
.mod_talent02 .slick-dots{width: 100%;text-align: center;margin-top: 5rem}
.mod_talent02 .slick-dots li{display: inline-block;margin: 0 5px;}
.mod_talent02 .slick-dots li button{width: 10px;height: 10px;border-radius: 50%;text-indent: -9999px;background: #ccc}
.mod_talent02 .slick-dots li.slick-active button{width: 50px;border-radius: 30px;background: #516a0c}
.mod_talent02 .slick-dots li.slick-active:only-child{display: none}
.mod_talent02 .talent_area .item{text-align: center;}
.mod_talent02 .talent_area .item .img{display: flex;justify-content: center;align-items: center;flex-direction: column;height: 132px;}
.mod_talent02 .talent_area .item .img img{max-width: 100%;}
.mod_talent02 .talent_area .item .tit{font-size: 2rem;margin: 1.5rem 2rem;font-weight: bold;}
.mod_talent02 .talent_area .item .desc{word-break: keep-all;font-size: 1.8rem;color: #666666;}
.mod_talent02 .slick-list {margin: 0 -30px}
.mod_talent02 .slick-slide {margin: 0 30px}

.mod_strategic01 .task_wrap{display: flex;}
.mod_strategic01 .task_wrap > div{padding: 7rem 0;width: 50%}
.mod_strategic01 .task_wrap .kt_bg{background: url(../images/2248138829_kt.png) no-repeat;background-size: cover;}
.mod_strategic01 .task_wrap .kv_bg{background: url(../images/2248138829_kv.png) no-repeat;background-size: cover;}
.mod_strategic01 .task_wrap > div > .item{padding: 4rem;box-sizing: border-box;max-width: 540px;width: calc(100% - 20px);background: rgba(255, 255, 255, 0.85)}
.mod_strategic01 .task_wrap .kt_bg .item{margin-left: auto;border-radius: 15px 0 0 0;  flex: 1;
  display: flex;
  flex-direction: column;}
.mod_strategic01 .task_wrap .kv_bg .item{margin-right: auto;border-radius: 0 0 15px 0 ;position: relative;height: 100%}
.mod_strategic01 .task_wrap .kv_bg .item:before{content: '';display: block;width: 1px;height: calc(100% - 70px);background: #ddd;position: absolute;left: 0;top: 50%;transform: translateY(-50%)}

.mod_strategic01 .task_wrap .slick-slide{height: auto;}
.mod_strategic01 .task_wrap h3{font-size: 3rem;font-weight: bold;color: #18006d;margin-bottom: 2.5rem}
.mod_strategic01 .task_wrap .keyTask .tit{font-size: 2rem;font-weight: bold;display: block;margin-bottom: 1rem;color: #18006d}
.mod_strategic01 .task_wrap .keyTask .desc{display: block;font-size: 1.6rem;}
.mod_strategic01 .task_wrap .keyTask .list{padding-bottom: 1.5rem;margin-bottom: 1.5rem;border-bottom: 1px solid #dddddd}
.mod_strategic01 .slick-dots{width: 100%;text-align: center;margin-top: 5rem}
.mod_strategic01 .slick-dots li{display: inline-block;margin: 0 5px;}
.mod_strategic01 .slick-dots li button{width: 10px;height: 10px;border-radius: 50%;text-indent: -9999px;background: #ccc}
.mod_strategic01 .slick-dots li.slick-active button{width: 50px;border-radius: 30px;background: #18006d}
.mod_strategic01 .slick-dots li.slick-active:only-child{display: none}
.mod_strategic01 .task_wrap .keyValue{height: calc(100% - 65px);}
.mod_strategic01 .task_wrap .keyValue li:after{content: '';background: url(../images/2248138829_kv_img.png) no-repeat center;width: 100%;height: 219px;margin-top: 5rem}
.mod_strategic01 .task_wrap .keyValue li{display: flex;justify-content: center;flex-direction: column;text-align: center;align-items: center;height: 100%}
.mod_strategic01 .task_wrap .keyValue li .tit{font-size: 3rem;font-weight: bold;}
.mod_strategic01 .task_wrap .keyValue li .desc{font-size: 1.8rem;margin-top: 1rem}
.mod_strategic01 .task_wrap .keyValue .slick-list,
.mod_strategic01 .task_wrap .keyValue .slick-track{height: 100%;}

.mod_swot04 .diagram_area ul .swotS{background: #000000}
.mod_swot04 .txt .swotS dt{color: #fff}
.mod_swot04 .diagram_area ul .swotW{background: #516a0c}
.mod_swot04 .txt .swotW dt{color: #516a0c}
.mod_swot04 .diagram_area ul .swotO{background: #f78c00}
.mod_swot04 .txt .swotO dt{color: #f78c00}
.mod_swot04 .diagram_area ul .swotT{background: #18006d}
.mod_swot04 .txt .swotT dt{color: #18006d}

.mod_finance10{padding: 0 !important;background: #fff}
.mod_finance10 .container > h3{background: url(../images/2248138829_fin.png) no-repeat center}
.mod_finance10 .conts_wrap > div:nth-child(1):before{background: url(../images/2248138829_fin01.png) no-repeat center;}
.mod_finance10 .conts_wrap > div:nth-child(2):before{background: url(../images/2248138829_fin02.png) no-repeat center;}
.mod_finance10 .conts_wrap > div:nth-child(3):before{background: url(../images/2248138829_fin03.png) no-repeat center;}
.mod_finance10 .conts_wrap > div:nth-child(4):before{background: url(../images/2248138829_fin04.png) no-repeat center;}

.mod_percent04{background: #f9f9f9}
.mod_percent04 .percent_wrap > div:nth-child(1){background:linear-gradient(33deg, rgba(168,233,206,1) 0%, rgba(109,210,170,1) 100%);}
.mod_percent04 .percent_wrap > div:nth-child(2){background: #3fa1c6}
.mod_percent04 .percent_wrap > div:nth-child(3){background: #18688d}
.mod_percent04 .percent_wrap > div:nth-child(4){background: linear-gradient(180deg, rgba(7,36,53,1) 0%, rgba(14,78,114,1) 39%);}
.mod_percent04 .percent_wrap > div:nth-child(4) > div {transform: none;top: -50px}
.mod_percent04 .percent_wrap > div:nth-child(3) div{top: 35%}
.mod_percent04 .percent_wrap > div:after{background: #6d95aa}
.mod_percent04 .percent_wrap > div:nth-child(4):before{border-bottom-color: #072435}
.mod_percent04 .percent_wrap > div > div{display: flex;flex-direction: column-reverse;}
.mod_percent04 .percent_wrap > div > div span{margin-top: 1rem}
.mod_business_area02{padding: 0 !important}
.mod_business_area02 h3 span{color: #cccccc;font-weight: 500}
.mod_business_area02 .bizDiv .slick-slide .info > h4{font-weight: 500}
.mod_business_area03{background: #f9f9f9}
.mod_business_area03 h3 span{color: #333}
.mod_business_area03 h3{color: #cccccc}
.mod_business_area03 h3 em{color: #333333}
.mod_culture07 h3 span{color: #ccc}
.mod_culture07 .container .slick-track > .item{background: #516a0c}
.mod_culture07 .container .slick-track > .item:nth-child(even){background:#f78c00 }
.mod_culture07 .prev_arrow{background: url(../images/2248138829_cul_prev.png) no-repeat center}
.mod_culture07 .next_arrow{background: url(../images/2248138829_cul_next.png) no-repeat center}

.mod_business_area03 .bizDiv .slick-slide{background: #f9f9f9}

.mod_interview04 .slick-slide{height: auto}
.mod_interview04 .container .iv_cont > div .interview{height: auto}
.mod_interview04 .container .iv_tab h2 > p{font-weight: bold;}
.mod_interview04 .container .iv_tab .btn_g button{background-color: #f78c00 !important}
.mod_interview04 .container .iv_cont::after {color: #f78c00}
.mod_interview04 .container .slick-dots li.slick-active{background: #f78c00}
.mod_interview06 .slick-list,
.mod_interview06 .slick-slide{height: auto !important}
.mod_interview06 .interview_txt strong{color: #18006d}
.mod_interview06 .q.active{background: #18006d}
.mod_interview06 .q:after{background: url(../images/2248138829_more.png) no-repeat}
.mod_interview06 .prev_arrow{background: url(https://aldo814.github.io/gwjobNew/protoNew/html/images/2218133427_prev.png) no-repeat #666 center;background-size: 10px}
.mod_interview06 .next_arrow{background: url(https://aldo814.github.io/gwjobNew/protoNew/html/images/2218133427_next.png) no-repeat #666 center;background-size: 10px}

.mod_comPic .slick-slide{height: auto !important}

.progress {
    max-width: 760px;width: 100%;margin: 7rem auto 0 auto;
    height: 7px; /* progress 영역의 높이 */
    background-color: #ebebeb;
    cursor: pointer;position: relative;
}

.slider__label {
    display: block;
    position: absolute;
    top:0;left: 0;height: 100%;
    background: #18006d;text-indent: -9999px;
}

.mod_comMov .comMov{border-radius: 0}


@media all and (max-width:1440px){
    .mod_visual .container{width: calc(100% - 40px)}
    
    .mod_percent04 .percent_wrap > div:nth-child(4) > div{top: -30px}
}

@media all and (max-width:1024px){
    
    .mod_visual{min-height: 400px;height: auto;padding:40px 0 120px 0;box-sizing: border-box}
    .mod_visual .txt{margin-top: 50px}
    
    
    .mod_strategic01 .task_wrap .keyValue li:after{background-size: 300px;height: 170px}
}

@media all and (max-width:768px){
    html{font-size: 8px}
    .mod_visual{min-height: auto;}
    .mod_visual .txt .title{font-size: 2.6rem;word-break: keep-all}
    .mod_visual .txt .comName{font-size: 4rem}
    .mod_visual .imgCi img{max-width: 90px}
    
     .sns_mod_info.sty01{padding: 5rem 0}
    .sns_mod_info.sty01 .info_wrap{flex-wrap: wrap;}
    .sns_mod_info.sty01 .info_wrap > li{width: calc(50% - 10px);margin-right: 20px}
    .sns_mod_info.sty01 .info_wrap > li:nth-child(2n){margin-right: 0}
    .sns_mod_info.sty01 .info_wrap > li:nth-child(-n + 2){margin-bottom: 20px}
    .sns_mod_info.sty01 .info_wrap > li > div.ico{background-size: 50px !important;height: 50px;}
    
    .mod_strategic01 .task_wrap{display: block;}
    .mod_strategic01 .task_wrap > div{width: 100%;}
    .mod_strategic01 .task_wrap .kt_bg{padding: 7rem 0 0 0}
    .mod_strategic01 .task_wrap .kv_bg{padding: 0 0 7rem 0}
    .mod_strategic01 .task_wrap > div > .item{padding: 2rem;width: calc(100% - 40px);margin: auto !important;}
    .mod_strategic01 .task_wrap .kv_bg .item,
    .mod_strategic01 .task_wrap .keyValue,
    .mod_strategic01 .task_wrap .keyValue .slick-list, 
    .mod_strategic01 .task_wrap .keyValue .slick-track,
    .mod_strategic01 .task_wrap .keyValue li{height: auto;}
    .mod_strategic01 .slick-dots{margin-top: 3rem}
    .mod_strategic01 .task_wrap h3,
    .mod_strategic01 .task_wrap .keyValue li .tit{font-size: 2.4rem}
    .mod_strategic01 .task_wrap .keyValue li:after{background-size: 250px;height: 140px;margin-top: 2rem}
    
    .mod_percent04 .percent_wrap > div:nth-child(3) div{top: 50%}
    .mod_percent04 .percent_wrap > div:nth-child(4) > div{top: 50%;transform: translateY(-50%)}
    
    .mod_interview06 .q:after{background-size: 14px !important;background-position: center !important}
}

@media all and (max-width:640px){
    .mod_visual{padding: 40px 0 100px 0}
    .mod_visual .txt .title{font-size: 2rem}
    .mod_visual .txt .comName{font-size: 3.6rem}
    .mod_visual .imgCi img{max-width: 60px}
    
}

@media all and (max-width:480px){
    
}
