html{font-size: 10px}
body{width: 100%;margin: auto;font-size: 1.6rem}
.mg70{margin: 7rem 0}
.pd70{padding: 7rem 0}

.mod_visual{box-sizing: border-box;min-height: 700px;background: url(../images/한국레저마케팅/visual.png) no-repeat center;background-size: cover;position: relative;}
.mod_visual .ciBg{background: rgba(255, 255, 255, 0.7);width: 100%;}
.mod_visual .txt{margin-top: 15rem;}
.mod_visual .title{font-size: 3rem;color: #fff;margin-bottom: 1rem}
.mod_visual .comName{color: #acc048;font-size: 6.5rem;font-weight: bold;display: inline-block}
.mod_visual .comName:after{content: '';display: block;width: calc(100% + 120px);height: 1px;background: #acc048;}

.sns_mod_info{background: url(../images/한국레저마케팅/infoBg.png) no-repeat !important;background-size: cover !important;}
.sns_mod_info.sty01 {background: #333;padding: 10rem 0}
.sns_mod_info.sty01 .info_wrap{display: flex;}
.sns_mod_info.sty01 .info_wrap > li{width: calc(25% - 22.5px);margin-right: 30px;text-align: center;font-size: 2rem;color: #acc048}
.sns_mod_info.sty01 .info_wrap > li > div{font-size: 1.8rem;color: #fff;}
.sns_mod_info.sty01 .ico{margin: 0 auto 2.0rem auto;}
.sns_mod_info.sty01 ul li:last-child{margin-right: 0}
.sns_mod_info.sty01 ul li:nth-child(1) .ico{background: url(https://aldo814.github.io/gwjobNew/proto/inc/images/ico_finance01.png) no-repeat center;width: 111px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(2) .ico{background: url(https://aldo814.github.io/gwjobNew/proto/inc/images/ico_finance02.png) no-repeat center;width: 109px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(3) .ico{background: url(https://aldo814.github.io/gwjobNew/proto/inc/images/ico_finance03.png) no-repeat center;width: 111px;height: 101px;}
.sns_mod_info.sty01 ul li:nth-child(4) .ico{background: url(https://aldo814.github.io/gwjobNew/proto/inc/images/ico_finance04.png) no-repeat center;width: 99px;height: 101px;}


.mod_history02 .history .slick-slide > span::before{background: #3c436d}
.mod_history02 .history .slick-slide > span{border-top-color: #3c436d;color: #3c436d}
.mod_history02 .history .slick-slide > ul li .month{color: #cccccc}

.pro_tit{text-align: center;font-weight:600;font-size:40px;text-align:center;margin-bottom:48px}
.pro_tit span{display: block;color:#ccc;font-size:21px;letter-spacing:12px;font-weight:400;margin-bottom:8px;text-transform: uppercase;}

.mod_history02 .slick-slide{height: auto}

.mod_info04{margin: 7rem 0}
.mod_info04 .info_wrap{display: flex;justify-content: space-between;}
.mod_info04 .info_wrap .item{padding: 4rem 3rem;box-sizing: border-box;}
.mod_info04 .info_wrap .vm_wrap{width: 35%}
.mod_info04 .info_wrap .vm_wrap .item + .item{margin-top: 30px;}
.mod_info04 .info_wrap > .item{width: calc(65% - 30px);margin-left: 30px;background: #343e5a}
.mod_info04 .info_wrap > .item h4{margin-bottom: 5rem}
.mod_info04 .info_wrap > .item ul{padding: 0 3rem;}
.mod_info04 .info_wrap > .item ul li {display: flex;margin-bottom: 2rem;padding-bottom: 2rem;border-bottom: 1px solid rgba(255, 255, 255, 0.16)}
.mod_info04 .info_wrap > .item ul li:last-child{padding-bottom: 0;margin-bottom: 0;border-bottom: 0}
.mod_info04 .info_wrap > .item ul li .desc{font-size: 2rem;color: #fff;width: calc(100% - 60px)}
.mod_info04 .info_wrap > .item ul li .tit{font-size: 2.2rem;width: 60px;font-weight: bold;color: #acc048}
.mod_info04 .info_wrap h4{font-size: 3.2rem;color: #fff;font-weight: bold;}
.mod_info04 .info_wrap h4:before{content: '';display: block;width: 50px;height: 5px;background: rgba(255, 255, 255, 0.5);margin-bottom: 1.5rem}
.mod_info04 .info_wrap .vm_wrap .item div{font-size: 1.8rem;color: #fff;margin-top: 1.5rem}
.mod_info04 .info_wrap .vm_wrap .item:nth-child(1){background: #acc048}
.mod_info04 .info_wrap .vm_wrap .item:nth-child(2){background: #949293}

.mod_finance03{padding: 0;padding: 7rem 0;background: #f4f4f4}
.mod_finance03 > div{background: none;padding: 0;}
.mod_finance03 h3 span{color: #ccc}
.mod_finance03 > div .tab_wrap .tab{border-color:#343e5a }
.mod_finance03 > div .tab_wrap .tab > div.on{background: #343e5a}
.mod_finance03 > div .tab_wrap .tab > div + div{border-color: #343e5a}
.mod_finance03 > div .tab_wrap .tab > div{color: #999999}

.mod_percent02{background: none;padding: 0;margin-top: 7rem;}
.mod_percent02 .percent_wrap > div > div span{color: #acc048}
.mod_percent02 .percent_wrap .scale .ico{background: url(../images/한국레저마케팅/percent01.png) no-repeat center}
.mod_percent02 .percent_wrap .growth .ico{background:url(../images/한국레저마케팅/percent02.png) no-repeat center }
.mod_percent02 .percent_wrap .profit .ico{background: url(../images/한국레저마케팅/percent03.png) no-repeat center}
.mod_percent02 .percent_wrap .stable .ico{background:url(../images/한국레저마케팅/percent04.png) no-repeat center }

.mod_business_area04 h3 span{color: #ccc;}
.mod_business_area04 .thumb{border-radius: 15px;overflow: hidden}
.mod_business_area04 .bizDiv .slick-slide .info > h4{color: #343e5a}

.mod_business_area03{background: #f4f4f4}
.mod_business_area03 h3 span{color: #666666}
.mod_business_area03 h3{color: #cccccc}
.mod_business_area03 h3 em{color: #343e5a}
.mod_business_area03 .bizDiv .slick-slide{background: none;}
.mod_business_area03 .bizDiv .slick-slide .info > h4{font-size: 2.8rem;border-bottom: 0;padding: 0}

.mod_culture05 h3 span{color: #ccc}
.mod_culture05 .culture_wrap{background: url(../images/한국레저마케팅/cultBg.png) no-repeat;}
.mod_culture05 .welfare_wrap{background: url(../images/한국레저마케팅/welBg.png) no-repeat;}
.mod_culture05 .container .slick-dots li.slick-active{background: #acc048;width:  16px;height: 16px}
.mod_culture05 .container .slick-dots li{background: #fff}
.mod_culture05 .container .slick-dots li button{background: #fff}
.mod_interview04{background: url(../images/한국레저마케팅/ceoBG.png) no-repeat;background-size: cover}
.mod_interview04 .container .iv_cont > div .interview{height: auto}
.mod_interview04 .slick-slide{height: auto;}
.mod_interview04 .container .iv_tab .btn_g button.next,
.mod_interview04 .container .iv_tab .btn_g button.prev{background-color: #acc048}
.mod_interview04 .container .iv_cont:after{color: #acc048}
.mod_interview04 .container .iv_cont > div .interview .q{color: #acc048}
.mod_interview04 .container .slick-dots li.slick-active{background: #acc048}
.mod_interview04 .container .iv_cont > div .ivCeo{position: relative;}
.mod_interview04 .container .iv_cont > div .ivCeo:after{content: '';display: block;background: url(../images/한국레저마케팅/ceo.png) no-repeat;width: 318px;height: 486px;position: absolute;right: -70px;bottom: -219px}
.mod_interview04 .container .iv_cont > div .interview .q,
.mod_interview04 .container .iv_cont > div .interview .a{max-width: calc(100% - 150px)}
.w100  {max-width: 100% !important}

@media all and (max-width:1440px){
    .mod_visual .container{width: calc(100% - 40px);height: auto;}
    
    
}
@media all and (max-width:1024px){
    
    .mod_visual{min-height: auto;padding-bottom: 80px;height: auto;box-sizing: border-box}
    .mod_visual .txt{margin-top: 5rem}
    .mod_interview04 .container .iv_cont > div .ivCeo:after{display: none}
    .mod_interview04 .container .iv_cont > div .interview .q, .mod_interview04 .container .iv_cont > div .interview .a{max-width: 100%}
}

@media all and (max-width:768px){
     html{font-size: 8px}
    .mod_visual{min-height: auto;}
    .mod_visual .txt .title{font-size: 2.6rem;word-break: keep-all}
    .mod_visual .txt .comName{font-size: 4rem}
    .mod_visual .imgCi img{max-width: 90px}
    
    .sns_mod_info.sty01{padding: 5rem 0}
    .sns_mod_info.sty01 .info_wrap{flex-wrap: wrap;}
    .sns_mod_info.sty01 .info_wrap > li{width: calc(50% - 10px);margin-right: 20px}
    .sns_mod_info.sty01 .info_wrap > li:nth-child(2n){margin-right: 0}
    .sns_mod_info.sty01 .info_wrap > li:nth-child(-n + 2){margin-bottom: 20px}
    .sns_mod_info.sty01 .info_wrap > li > div.ico{background-size: 50px !important;height: 50px;}
    
    .mod_finance03 > div .tab_wrap .tab > div{border-color: #343e5a !important}
    
   
}

@media all and (max-width:640px){
    .mod_visual{padding: 0 0 40px 0}
    .mod_visual .txt .title{font-size: 2rem}
    .mod_visual .txt .comName{font-size: 3.6rem}
    .mod_visual .imgCi img{max-width: 60px}
    
    .pro_tit {font-size: 30px}
    .pro_tit span{font-size: 12px}
    
    .mod_info04 .info_wrap{display: block;}
    .mod_info04 .info_wrap .vm_wrap,
    .mod_info04 .info_wrap > .item{width: 100%;}
    .mod_info04 .info_wrap .vm_wrap .item + .item{margin-top: 20px}
    .mod_info04 .info_wrap > .item{margin-left: 0;margin-top: 20px}
    .mod_info04 .info_wrap > .item ul{padding: 0}
    .mod_info04 .info_wrap > .item ul li .tit{width: 40px}
    .mod_info04 .info_wrap > .item ul li .desc{width: calc(100% - 40px)}   
}
