.mod_info06 {padding: 7rem 0;background: #f4f4f4;}
.mod_info06 .slogan{text-align: center;font-weight: bold;color: #333;font-size: 4rem;}
.mod_info06 .info_area{display: flex;justify-content: space-between;background: url(../images/네오바이오텍/vision_bg.png) no-repeat;min-height: 375px;max-width: 957px;margin: auto;margin-top: 5rem}
.mod_info06 .info_area > .item{text-align: center;width: calc(33.333% - 10px);padding:150px 40px;word-break: keep-all;}
.mod_info06 .info_area > .item h4{font-size: 3rem;margin-bottom: 1rem;font-weight: bold;}
.mod_info06 .info_area > .item p,
.mod_info06 .info_area > .item .tit{font-size: 1.8rem;color: #525252;}

.mod_keyTask{padding: 7rem 0;background: url(../images/네오바이오텍/keyYask.png) no-repeat right center;background-size: cover;}
.mod_keyTask .kt_area{display: flex;align-items: center;}
.mod_keyTask .kt_area h4{width: 280px;font-size: 4rem;font-weight: bold;padding-right: 30px;border-right: 3px solid #333;color: #333;box-sizing: border-box;}
.mod_keyTask .kt_area .keyTask {width: calc(100% - 280px);padding-left: 3rem;font-size: 1.8rem;color: #525252;}
@media all and (max-width:1440px){
    .mod_info06 .container{width: calc(100% - 40px)}
}
@media all and (max-width:1024px){
    .mod_info05 .info_area:before{width: 50%}
    .mod_info05 .info_area .txt{width: calc(50% - 40px)}
    .mod_info05 .info_area .txt .item{margin: 5rem 0}
    
    .mod_info06 .info_area{background: none;max-width: 100%;min-height: auto;}
    .mod_info06 .info_area > .item{padding: 7rem 4rem 4rem 4rem;border-radius: 30px;position: relative;}
    .mod_info06 .info_area > .item:before{content: '';display: block;width: 70px;height: 70px;border-radius: 50%;position: absolute;left: 50%;top: -35px;transform: translateX(-50%);}
    .mod_info06 .info_area > .item:nth-child(1){border:5px solid #e31c93;}
    .mod_info06 .info_area > .item:nth-child(1):before{background: url(../images/네오바이오텍/m_vision.png) no-repeat center #f4f4f4;border: 5px solid #e31c93}
    .mod_info06 .info_area > .item:nth-child(2){border:5px solid #a752d1;}
    .mod_info06 .info_area > .item:nth-child(2):before{background: url(../images/네오바이오텍/m_mission.png) no-repeat center #f4f4f4;border: 5px solid #a752d1}
    .mod_info06 .info_area > .item:nth-child(3){border:5px solid #0075f1;}
    .mod_info06 .info_area > .item:nth-child(3):before{background: url(../images/네오바이오텍/m_kt.png) no-repeat center #f4f4f4;border: 5px solid #0075f1}
}

@media all and (max-width:768px){
    .mod_info06 .info_area{display: block;}
    .mod_info06 .info_area > .item{width: 100%;margin-top: 7rem}
    .mod_info06 .info_area > .item:first-child{margin-top: 9rem}
    .mod_keyTask .kt_area{display: block;}
    .mod_keyTask .kt_area h4{width: 100%;border-right: 0;padding-right: 0;font-size: 3rem}
    .mod_keyTask .kt_area h4:after{content: '';display: block;width: 35px;height: 3px;background: #333;margin: 2rem 0}
    .mod_keyTask .kt_area .keyTask{padding-left: 0;width: 100%;}
}

@media all and (max-width:640px){
    .pro_tit {font-size: 30px}
    .pro_tit span{font-size: 12px}
}