.mod_business_cst02{background: #f4f4f4;position: relative}
.mod_business_cst02 .pro_tit{position: absolute;left: 50%;top: 7rem;text-align: left;max-width: 1200px;width: calc(100% - 40px);transform: translateX(-50%)}
.mod_business_cst02 .item{display: flex !important;flex-direction: row-reverse;position: relative;justify-content: space-between}
.mod_business_cst02 .thumb{width:50%;position: absolute;height: 100%}
.mod_business_cst02 .thumb img{min-width: 100%;height: 100%;object-fit: cover}
.mod_business_cst02 .thumb:before{content: '';display: block;width: 0px;height: 0px; border-bottom: 600px solid #f4f4f4;border-left: 180px solid transparent;border-right: 180px solid transparent;position: absolute;left: -180px;z-index: 1}
.mod_business_cst02 .info{width: 1200px;margin: auto;}
.mod_business_cst02 .item h4{font-size: 3rem;font-weight: bold;margin-bottom: 1.5rem;margin-top: 20rem}
.mod_business_cst02 .item h4,
.mod_business_cst02 .item p{width: 50%;padding-right: 4rem;position: relative;z-index: 5}
.mod_business_cst02 .item p{font-size: 2.2rem;margin-bottom: 15rem}
.mod_business_cst02 .slick-arrow{width: 50px;height: 70px;background: rgba(0, 0, 0, 0.3);text-indent: -9999px;position: absolute;top: 50%;transform: translateY(-50%)}
.mod_business_cst02 .slick-prev{left: 0}
.mod_business_cst02 .slick-next{right: 0}